<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"
     http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/style.css">
    <style>
    .aboutme{
        background-image: url(./static/thomas-serer-r-xKieMqL34-unsplash.jpg); 
        
        background-position: center;
        font-size: 20px;
         
            }
    </style>
</head>
<body class="aboutme"></body>
  
<h1>
    My name is Vivaan Aurora. My hobbies are to play football and do coding. My favorite football player is Lionel Messi. He is also my idol. Messi plays for Fc Barcelona. In 2009 Barcelona won all of the 6 major trophies and Messi helped a lot. I like Messi because he is very hardworking. Ever since I started to learn coding, I loved it. I was very excited to make my apps, websites, etc. Givemefive.ai is a very good website you can learn coding from. Sumanth sir (My coding sir) helps me when I don’t understand something and even helps me in my projects. I am very grateful to him.
    </h1>
  
  <div class="button"> <a href="./index.html">Back</a></div>  
</body>
</html>