<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="./static/style.css">
    
</head>
<body>
    
    
    <div class="wrapper">
        <div class="myself">
            <a href="./aboutmyself.html"><h1>ABOUT MYSELF</h1></a>
        </div>
        
        <div class="players">
            <a href="./footballstories.html"><h1>FAMOUS PLAYERS</h1></a>
            
        </div>
        
        <div class="stats">
            <a href="./famousplayers.html"><h1>STATS</h1></a>       

        </div>
        <div class="facts"> 
            <a href="./facts.html"><h1>FACTS</h1></a>
          
        </div>
        <div class="quiz">
            <a href="https://quizizz.com/join/quiz/5c1151e09f89ca001a73c11b/start"> <h1>QUIZ</h1></a>
           
        </div>
        <div class=" myprojects">
            <a href="https://givemefive.ai/projects/nextcreator/vivaan_aurora/">
            <h1>MY PROJECTS
            
            </h1>
        </a>
        </div> 
        
    </div>

    
</body>
</html>