<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration form</title>
    <style>
        form{
            width: 35%;
            height: 50%;
            border: aqua 3px solid;
            background-color: maroon;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color:cyan ;


        }
    </style>
</head>
<body>
    <h1>Registration </h1>
    <form action="">
        Username:
        <input type="text">
        Password:
        <input type="password">
        Contact number:
        <input type="tel">
        email adress:
        <input type="email">
        Male:
        <input type="radio" name="Gender" id="">
        Female:
        <input type="radio" name="Gender" id="">
        summer vacation experience
        <textarea name="" id="" cols="30" rows="20"></textarea>
        <button type="submit">submit</button>
        <button type="reset">reset</button>

    </form >
    
</body>
</html> 